<blockquote>
  <p><strong><%= question.title %></strong> - <%= question.user.name %> <%= question.created_at %></p> 
  </div>
  <div class="col-md-12">
    <%= question.body %>
  </div>
</<blockquote>>