<div class="text-center">
  <h1>Вопросы</h1>
  <h3><%= navigation_links %></h3>
</div>
<% if @questions.empty? %>
  <div id="empty_questions">Вопросов пока нет</div>
<% else %>
  <div id="question_block">
    <%= render partial: 'question', collection: @questions %>
  </div>
<% end %>
<%= link_to 'Задать вопрос', new_question_path, remote: true, id: 'new_question_link' %>