<div class="text-center">
  <h1>Вопросы</h1>
  <h3><%= navigation_links %></h3>
</div>
<% if @questions.empty? %>
  <p>Вопросов пока нет</p>
<% else %>
  <%= render partial: 'question', collection: @questions %>
<% end %>